<h2>Login</h2>
<form name="loginFrom">
    <div class="form-group">
        <label for="username">User Name:</label>
        <input type="text" class="form-control" id="username" placeholder="Enter User Name" name="username" ng-model="username" required>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" placeholder="Enter Password" name="password" ng-model="password" required>
    </div>

    <div class="panel panel-danger" ng-show="message != ''">
        <div class="panel-heading">
            <h3 style="color: red" class="text-center">
                {{message}}
            </h3>
        </div>
        <div class="panel-body"></div>
    </div>

    <button type="submit" class="btn btn-default" ng-click="login()">Submit</button>
    <hr />
</form>