<!-- Page Heading -->
<h1 class="my-4">
    My Favorite List
</h1>

<div class="row">
    <div class="col-lg-6 portfolio-item" ng-repeat="job in jobs">

        <div class="card h-100">
            <a href="#viewjobdetail/{{job._id}}">
                <div class="card-top text-center" alt=""><h1>{{job.subject}}</h1></div>
            </a>
            <div class="card-body">
                <ul>
                    <li>Number of students: {{job.numberOfStudents}}</li>
                    <li>Location: {{job.location}} <a href="https://www.google.com/maps/?q={{job.lat}},{{job.lng}}"><img src="https://png.icons8.com/color/1600/google-maps.png" class="map" /></a></li>
                    <li>Tution: {{job.tuitionFeePerUnit}}/{{job.tuitionUnit}}</li>
                    <li>Lesson Duration: {{(job.lessonDuration.hour + job.lessonDuration.minute/60)}}hour(s)</li>
                    <li>Lesson Time: {{job.lessonTime}}</li>
                    <li>Contact Number: {{job.contactNumber}}</li>
                    <li>Remark: {{job.remark}}</li>
                </ul>
                <button class="btn btn-danger" ng-click="delete(job._id)">Delete From Favorite</button>
            </div>
        </div>

    </div>
</div>

<!-- /.row -->
