<div class="container text-center">
    <h1>Sign Up</h1>
</div>
<hr />
<div class="row">
    <div class="col text-center"><a type="button" class="btn btn-success" style="width: 200px" href="#signupforseeker">Sign Up As Seeker</a></div>
</div>
<hr />
<div class="row">
    <div class="col text-center"><a type="button" class="btn btn-success" style="width: 200px" href="#signupfortutor">Sign Up As Tutor</a></div>
</div>
<hr />
