<h2>Tutor Registration</h2>
<form name="registerFrom">

    <div class="panel panel-danger" ng-show="message != ''">
        <div class="panel-heading">
            <h3 style="color: red" class="text-center">
                {{message}}
            </h3>
        </div>
        <div class="panel-body"></div>
    </div>

    <div class="form-group">
        <label for="username">User Name:</label>
        <input type="text" class="form-control" id="username" placeholder="Enter User Name" name="username" ng-model="username" required>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" placeholder="Enter Password" name="password" ng-model="password" required>
    </div>
    <div class="form-group">
        <label for="englishname">English Name:</label>
        <input type="text" class="form-control" id="englishname" placeholder="Enter English Name" name="englishname" ng-model="englishname">
    </div>
    <div class="form-group">
        <label for="chinesename">Chinese Name:</label>
        <input type="text" class="form-control" id="chinesename" placeholder="Enter Chinese Name" name="chinesename" ng-model="chinesename">
    </div>
    <div class="form-group">
        <label for="mobileno">Mobile No.:</label>
        <input type="text" class="form-control" id="mobileno" placeholder="Enter Mobile No." name="mobileno" ng-model="mobileno">
    </div>
    <div class="form-group">
        <label for="contactno">Contact No.:</label>
        <input type="text" class="form-control" id="contactno" placeholder="Enter Contact No." name="contactno" ng-model="contactno">
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter Email" name="email" ng-model="email">
    </div>
    <div class="form-group">
        <label for="residencedistrict">Residence District:</label>
        <input type="text" class="form-control" id="residencedistrict" placeholder="Enter Residence District" name="residencedistrict" ng-model="residencedistrict">
    </div>
    <div class="form-group">
        <label for="residenceaddress">Residence Address:</label>
        <input type="text" class="form-control" id="residenceaddress" placeholder="Enter Residence Address" name="residenceaddress" ng-model="residenceaddress">
    </div>

    <div class="form-group">
        <label for="gender">Gender:</label>
        <div class="form-control">
            <input type="radio" ng-model="gender" value="Male">Male
            <input type="radio" ng-model="gender" value="Female">Female
        </div>
    </div>

    <div class="form-group">
        <label for="dateOfBirth">Date Of Birth:</label>

        <input class="form-control" for type="date" id="exampleInput" name="input" ng-model="dateofbirth"
               placeholder="yyyy-MM-dd" min="1900-01-01" max="2028-12-31" />
        <div role="alert">
            <span class="error" ng-show="registerFrom.input.$error.date">
                Not a valid date!
            </span>
        </div>
    </div>

    <div class="form-group">
        <label>Tutor Category:</label>

        <div class="form-inline form-control">
            <div class="form-group">
                <label for="categories">Categories: </label>
                <input type="text" class="form-control" id="categories" ng-model="categories">
            </div>
            <div class="form-group">
                <label for="levels">Levels: </label>
                <input type="text" class="form-control" id="levels" ng-model="levels">
            </div>
            <div class="form-group">
                <label for="subjects">Subjects: </label>
                <input type="text" class="form-control" id="subjects" ng-model="subjects">
            </div>
        </div>
    </div>
    
    <button type="submit" class="btn btn-default" ng-click="registerfortutor()">Submit</button>
    <hr />
</form>