<h2>Job Detail</h2>

<form name="jobFrom">

    <div class="panel panel-danger" ng-show="message != ''">
        <div class="panel-heading">
            <h3 style="color: red" class="text-center">
                {{message}}
            </h3>
        </div>
        <div class="panel-body"></div>
    </div>

    <div class="form-group">
        <label for="subject">Subject:</label>
        <input type="text" class="form-control" id="subject" placeholder="e.g. Secondary 5 Chinese / English" name="subject" ng-model="subject" required readonly>
    </div>
    <div class="form-group">
        <label for="numberofstudents">Number of students:</label>
        <input type="number" class="form-control" id="numberofstudents" placeholder="Enter number of students" name="numberofstudents" ng-model="numberofstudents" required readonly>
    </div>
    <div class="form-group">
        <label for="location">Location:</label>
        <input type="text" class="form-control" id="location" placeholder="Enter location" name="location" ng-model="location" required readonly>
    </div>

    <div class="form-group">
        <label>Tution:</label>

        <div class="form-inline form-control">
            <div class="form-group">
                <input type="number" class="form-control" id="tuitionfeeperUnit" ng-model="tuitionfeeperUnit" required readonly>
            </div>
            /
            <div class="form-group">
                <input type="text" class="form-control" id="tuitionunit" ng-model="tuitionunit" required readonly>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label>Lesson Duration:</label>

        <div class="form-inline form-control">
            <label for="hour">Hour:</label>
            <div class="form-group">
                <input type="number" class="form-control" id="hour" ng-model="hour" required readonly>
            </div>
            <label for="minute">Minute:</label>
            <div class="form-group">
                <input type="number" class="form-control" id="minute" ng-model="minute" required readonly>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="lessontime">Lesson Time:</label>
        <input type="text" class="form-control" id="lessontime" placeholder="Enter lesson time" name="lessontime" ng-model="lessontime" required readonly>
    </div>

    <div class="form-group">
        <label for="contactnumber">Contact Number:</label>
        <input type="text" class="form-control" id="contactnumber" placeholder="Enter contact number" name="contactnumber" ng-model="contactnumber" required readonly>
    </div>

    <div class="form-group">
        <label for="remark">Remark:</label>
        <input type="text" class="form-control" id="remark" placeholder="Enter remark" name="remark" ng-model="remark" readonly>
    </div>

    <button type="submit" class="btn btn-success" ng-click="acceptjob()" ng-show="currentUser != undefined && currentUser.userType == 'Tutor'">Accept</button>

    <button type="submit" class="btn btn-success" ng-click="addtofavorite(this)" ng-disabled="exist == true">Add to Favorite</button>
    <hr />
</form>